{% extends 'kbank/base.html' %}
{% load static %}
{% block content %}
<div class="popup">
  <span class="popuptext" id="myPopup"></span>
</div>
<div class="container position-relative px-4 px-lg-5">
    <form id="create-article" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
    </form>
    <button class="btn btn-primary" onclick="submitNewArticle();">СОЗДАТЬ</button>
</div>

<script src="{% static 'kbank/popup.js' %}" type="text/javascript"></script>
{% include 'mainapp/includes/inc_tinymce.html' %}>
{% endblock %}