{% extends 'kbank/base.html' %}
{% load static %}

{% block content %}
<div class="container position-relative px-4 px-lg-5">

 <div class="mb-3">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">ИЗМЕНИТЬ</button>
        <br>{{ user.first_name }}
    </form>
</div>


</div>
<script src="https://cdn.tiny.cloud/1/0gvbx3khpux8ttxya90l94tvhtl5q2susbtpfb5fkan33okh/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
tinymce.init({
  selector: 'textarea',
  plugins: 'advlist autolink lists link image charmap preview anchor pagebreak',
  toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter pageembed permanentpen table',
  toolbar_mode: 'floating',
  tinycomments_mode: 'embedded',
  tinycomments_author: 'Author name',
});
</script>
{% endblock %}