{% extends 'kbank/base.html' %}
{% load static %}

{% block head %}
    <title>KBANK | База знаний</title>
{% endblock %}


{% block content %}
    {% for article in articles %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="kbank-post col-md-10 col-lg-8 col-xl-7">

                    <div class="post-preview">
                        <a href="{% url 'articles:article' article.id %}">
                            <h2 class="post-title">{{ article.title }}</h2>
                        </a>
                        <h6><a href="{% url 'category' article.category.slug %}">{{ article.category.title|title }}</a></h6>
                        <hr>
                        <div class="post-subtitle">{{ article.text|truncatewords_html:50|safe }}</div>

                        <p class="post-meta">
                            Автор:
                            <a href="author/{{ article.author.id }}">{{ article.author }}</a>
                            {{ article.publish_date }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}

