{% extends 'kbank/base.html' %}
{% load static %}

{% block head %}
    <title>Фёдор, Бонд и Чук</title>
{% endblock %}


{% block content %}
    <div class="container pxc-4 px-lg-5 ptc-3">
        <div class="row gx-lg-4 justify-content-center">
            {% if pinned_article %}
            <a href="{% url 'articles:article' pinned_article.id %}" class="col-lg-11 col-xl-11">
            <div class="fbchu-post pinned-post" style="background:
                {% if pinned_article.pic %}
                url('/media/{{ pinned_article.pic }}')
                {% else %}
                black
                {% endif %}
                ;background-size:cover; position: relative; background-position: center center;">
                <div class="post-preview"  style="position:absolute;bottom:30px;left:30px;padding-right:30px">
                        <h2 class="post-title text-light">{{ pinned_article.title }}</h2>
                </div>
            </div>
            </a>
            {% endif %}

            <div class="col-lg-7 col-xl-8 infinite-container">
            {% for article in articles %}
                {% if article != pinned_article %}
                <div class="fbchu-post infinite-item border border-2 border-primary">
                    <div class="post-preview">
                        <a href="{% url 'articles:article' article.id %}">
                            <h2 class="post-title">{{ article.title }}</h2>
                        </a>
                        <h6><a href="{% url 'category' article.category.slug %}">{{ pinned_article.category.title|title }}</a></h6>
                        <div class="post-subtitle">
                            {% if article.pic %}
                            <img src="/media/{{ article.pic }}" alt="Превью статьи">
                            {% endif %}
                            {% if article.preview_text %}
                                {{ article.preview_text|safe }}
                            {% else %}
                                {{ article.text|truncatewords_html:50|safe }}
                                <a href="{% url 'articles:article' article.id %}" style="font-weight:600">Читать далее...</a>
                            {% endif %}
                        </div>
                        <div class="post-meta d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <p>
                                Автор:
                                <a style="text-decoration: none;" href="{% url 'profile-view' article.author.id %}">{{ article.author }}</a><br>
                                {{ article.publish_date }}
                                </p>
                            </div>

                            <div class="d-flex flex-row align-items-center">
                            <!-- Количество просмотров -->
                                <i class="fa-regular fa-eye"></i>
                                <p class="small ms-1">{{ article.views }}</p>
                            <!-- Количество комментариев -->
                                {% if article.comments_count %}
                                    <i class="fa-regular fa-comment ms-2"></i>
                                    <p class="small ms-1">{{ article.comments_count }}</p>
                                {% endif %}
                            <!-- Likes -->
                                <span class="like-btn ms-2" data-id="{{ article.pk }}" data-href="{% url 'articles:like-api' article.pk %}">
                                    {% if user in article.likes.all %}
                                        <i class="like-icon-{{ article.pk }} fa-solid fa-heart"></i>
                                    {% else %}
                                        <i class="like-icon-{{ article.pk }} fa-regular fa-heart"></i>
                                    {% endif %}
                                </span>
                                <span id="like-count-{{ article.pk }}" class="ms-1 small">{{ article.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                    <!-- Теги -->
                    {% if article.tags.all %}
                    <div class="chips col-md-10 col-lg-8 col-xl-7">
                        {% for tag in article.tags.all %}
                        <a href="{% url 'tag-list' tag.slug %}">
                         <div class="chip">
                             {{ tag }}
                          </div>
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
            {% endif %}
            </div>
            <div class="col-md-3 col-lg-4 col-xl-3 align-self-start lh-sm">
                <!-- Кнопка телеграм -->
                <div class="mt-0 mb-3">
                    <a href="https://t.me/FBChu" target="_blank" class="telegram-button pt-2 pb-2 border-primary w-100" title=""><i class="fa-brands fa-telegram me-1"></i> Мы в Telegram</a>
                </div>
                <div  class="border border-2 border-primary bg-light py-3 top-articles">
                    <h6>Популярное за месяц</h6><hr>
                    {% for top_article in top_articles %}
                    <div class="mb-2">
                        <i class="fa-solid fa-fire me-1"></i>
                        <a href="{% url 'articles:article' top_article.id %}">{{ top_article.title }}</a>
                        <i class="like-icon-5 fa-regular fa-heart ms-2 me-1"></i><span>{{ top_article.likes.count }}</span><br>
                    </div>
                    {% endfor %}
                </div>
                <div  class="border border-2 border-primary bg-light py-3 top-articles lh-sm">
                    <h6>Последние комментарии</h6><hr>
                    {% for comment in last_comments %}
                    <div class="mb-2">
                        <i class="fa-regular fa-comment"></i>
                        <a href="{% url 'articles:article' comment.article.id %}"><u>{{ comment.article.title }}</u>: </a>
                        {{ comment.body|truncatewords_html:10|safe }}<br>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

<!-- Скрипты для подключения лайков -->
<script src="{% static 'kbank/jquery-3.6.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'kbank/update-likes.js' %}" type="text/javascript"></script>

<script src="{% static 'kbank/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'kbank/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
    })
</script>

{% endblock %}