{% load static %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <!-- Categories Menu -->
        <ul class="navbar-nav ms-auto py-4 py-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle px-lg-3 py-3" data-bs-toggle="dropdown" href="">
                    <i class="fa-solid fa-bars fs-3"></i>
                </a>
                <ul class="dropdown-menu rounded">
                    {% for category in categories %}
                        <li>
                            <a class="dropdown-item px-lg-3 py-3 py-lg-4" href="{% url 'category' category.slug %}">
                                {{ category.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>


        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="{% static 'kbank/img/logo.png' %}" alt="Homepage">
        </a>
        <!-- Menu for Phones -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <!-- Main Menu -->
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'articles:create-article' %}">НОВАЯ СТАТЬЯ</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'auth:login' %}">ВОЙТИ</a>
                    </li>
                {% else %}
                    <!-- Profile Dropdown -->
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item dropdown d-flex">
                            <a class="nav-link dropdown-toggle px-lg-3 py-lg-2 d-flex" data-bs-toggle="dropdown"
                               href="">
                                <img src="{% if user.avatar %}/media/{{user.avatar}}{% else %}/media/users_avatar/default.png{% endif %}" alt="avatar"
                                     class="rounded-circle row justify-content-center align-self-center" width="40"
                                     height="40">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end rounded">
                                <li class="dropdown-header px-lg-3 py-3">
                                    <h6>{{ user }}</h6>
                                    <div style="font-size: 0.8rem;">{{ user.email }}</div>
                                </li>
                                <li>
                                    <a class="dropdown-item px-lg-3 py-3"
                                       href="{% url 'articles:list-author-articles' user.pk %}">мои статьи</a>
                                </li>
                                <li>
                                    <a class="dropdown-item px-lg-3 py-3" href="{% url 'profile-view' user.pk %}">профиль</a>
                                </li>
                                {% if user.is_moderator or user.is_superuser or user.is_staff%}
                                    <li>
                                        <a class="dropdown-item px-lg-3 py-3"
                                           href="{% url 'moderation:moderate-articles' %}">модерация</a>
                                    </li>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="dropdown-item px-lg-3 py-3"
                                       href="{% url 'auth:logout' %}?next={{ request.path }}">ВЫЙТИ</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
