{% extends 'kbank/base.html' %}
{% load static %}

{% block content %}
    <main class="container position-relative px-4 px-lg-7">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="fbchu-post col-md-10 col-lg-8 col-xl-6">
                <!-- Forgot Password Form -->
                <h2>Сброс пароля</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn btn-primary" type="submit" value="Отправить ссылку">
                </form>
                <br>
            </div>
        </div>
    </main>
{% endblock %}
