{% extends 'kbank/base.html' %}
{% load static %}
{% load socialaccount %}

{% block content %}
    <main class="container position-relative px-4 px-lg-7">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="fbchu-post col-md-10 col-lg-8 col-xl-6">
                <!-- Login Form -->
                <h2>Вход</h2>
                <form action="{% url 'auth:login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Войти">
                </form>
                <br>
                <div id="formFooter">
                    <a class="underlineHover" href="{% url 'password_reset' %}">Забыли пароль?</a><br>
                    <a class="underlineHover" href="{% url 'auth:register' %}">Нет профиля в Kbank?</a>
                </div>
                <br>
                <hr>
                <h6 class="text-center mb-lg-4">Войти через соцсеть</h6>
                <div class="list-inline text-center mb-lg-4">
                    <span class="fa-stack fa-lg">
                        <a href="{% provider_login_url 'google' %}">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-google fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="{% provider_login_url 'yandex' %}">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-yandex fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="{% provider_login_url 'vk' %}">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-vk fa-stack-1x fa-inverse"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </main>
{% endblock %}



