{% extends 'kbank/base.html' %}
{% load static %}

{% block content %}
    <main class="container position-relative px-4 px-lg-7">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="kbank-post col-md-10 col-lg-8 col-xl-6">
                <!-- Login Form -->
                <h2>Вход</h2>
                <form action="{% url 'auth:login' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Войти">
                </form>
                <br>
                <div id="formFooter">
                    <a class="underlineHover" href="#">Забыли пароль?</a><br>
                    <a class="underlineHover" href="{% url 'auth:register' %}">Нет профиля в Kbank?</a>
                </div>
                <br>
            </div>
        </div>
    </main>
{% endblock %}



