{% extends 'kbank/base.html' %}
{% load static %}

{% block content %}
    <main class="container position-relative px-4 px-lg-7">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="kbank-post col-md-10 col-lg-8 col-xl-6">
                <h2>Регистрация</h2>
                <!-- Login Form -->
                <form action="{% url 'auth:register' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Зарегистрироваться">
                </form>
                <br>
            </div>
        </div>
    </main>
{% endblock %}

