{% extends 'kbank/base.html' %}
{% load static %}

{% block content %}
    <h3>{{ message }}</h3>

    <br>
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="kbank-post col-md-10 col-lg-8 col-xl-6">
            Письмо с инструкциями по активации аккаунта отправлено на указанный при регистрации почтовый
            адрес {{ user.email }}. Для завершения активации пройдите по ссылке в сообщении. Ссылка на
            активацию
            действительна в течении 24 часов.
            <button class="btn btn-round form-control">
                <a href="{% url 'index' %}">на главную</a>
            </button>
        </div>
    </div>
{% endblock %}